.appContainer {
  min-height: 100vh;
  background-color: #1F0407;
  color: #FFFFFF;
}

.gridJogadores {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}